/*table tr:nth-child(odd) {
   background-color: #ccc;
}*/
table, td, th {
    border-collapse: collapse;
    border: 1px solid #000;
}
table td {
    padding: 4px;
}
.qty, .price {
    text-align: right;
}
.summary {
    padding: 20px;
}
.filters {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
}
.hidden {
    display: none;
}
